#about {
    position: relative; 
    padding: 50px 15px;
    color: aliceblue;
    background-color: var(--default-purple);
    z-index: 0;
}

#about > .container-lg {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
} 

#about-img {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

#main-picture {
    width: 100%;
    min-width: 320px;
    min-height: 225px;
    max-width: 400px;
    
}

#about-text {
    width: 100%;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.link {
    max-width: 20px;
}

#about-text > p {
    max-width: 90%;
    text-indent: 10px;
    line-height: 1.2;
    font-weight: 200;
    font-size: 1.3rem;
}

@media (max-width: 1226px) {
    #about {
        justify-content: center; /* Center content on smaller screens */
    }

    #about-text {
        justify-content: center; /* Center content on smaller screens */
        text-align: center;
    }

    h2, p {
        align-self: center;
    }
}